.site__main {
	width: 100%;
	height: auto;
}

.first-section {
	width: 100%;
	height: 100%;
}

.video__block {
	width: 100%;
	height: 700px;
	position: relative;
	background-image: 
		url("../img/waves.png"),
		url("../img/video-boots.png");
	background-repeat: no-repeat;
	background-position: 
		left bottom,
		center 100px;
	z-index: 10;
}

.video__block:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../img/header-lines.png");
	background-repeat: no-repeat;
	background-position: left bottom; 
	transform: rotate(180deg);
	z-index: -1;
}

.video__content {
	width: 560px;
	height: auto;
	position: relative;
}

.video__content:after {
	content: "";
	position: absolute;
	width: 980px;
	height: 700px;
	bottom: -200px;
	right: -140%;
	background-image: url("../img/video-man.png");
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 30;
}

.video__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 59px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0px 0px 5px rgba(10, 45, 185, 0.7);
	margin-bottom: 40px;
}

.video {
	width: 560px;
	height: 374px;
	background-image: url("../img/video-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 10;
	iframe {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 20;
	}
}

.video:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/youtubr-logo.png");
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 10;
}

.video__leafs {
	position: absolute;
	top: 320px;
	left: -80px;
	transform: rotate(-90deg) scale(0.6);
	z-index: 1;
}

.video__leafs-2 {
	transform: rotate(-180deg) scale(0.6);
	top: 350px;
	left: -70px;
}

.sprey {
	width: 100%;
	height: 604px;
	border-top: 4px solid #0A2DB9;
	border-bottom: 4px solid #0A2DB9;
	position: relative;
	background: linear-gradient(180deg, #6685FE 0%, #B2D7FF 48.96%, #6685FE 100%);
}

.sprey:before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/sprey-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0px;
	z-index: 5;
}

.sprey__container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	z-index: 10;
}

.sprey__container:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	height: 500px;
	background-image: url("../img/sprey.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-left: 50px;
}

.sprey__left {
	width: 400px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 40px 0px;
	// position: relative;
	// // left: 0;
	// float: left;
	margin-right: 320px;
}

.sprey__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	color: #101010;
	word-wrap: wrap;
	margin-bottom: 30px;
}

.sprey__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
	color: #101010;
	margin-bottom: 20px;
}

.sprey__text:last-of-type {
	margin-bottom: 40px;
}

.sprey__price .old__price:before {
	background-color: #BDFF00;
}

.sprey__right {
	width: 280px;
	height: 100%;
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.sprey__info {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 170%;
	color: #000000;
	span {
		font-weight: 600;
	}
}

.sprey__info:last-of-type {
	margin-bottom: 50px;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form__input {
	width: 100%;
	height: 52px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(10, 45, 185, 0.2);
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 35px;
	color: #101010;
	padding: 0 20px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.form__input::placeholder {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 35px;
	color: #101010;
}

.form__input:last-of-type {
	margin-bottom: 30px;
}

.sprey__color {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 80px;
	span {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #101010;
		margin-right: 23px;
	}
}

.sprey__color-btn {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	transition: 0.3s ease;
	border-radius: 100%;
	cursor: pointer;
	outline: none;
}

.sprey__color-btn:hover {
	box-shadow: 0px 0px 20px 3px rgba(10, 45, 185, 0.6);
}

.sprey__color-btn.active {
	border: 2px solid #CC1414;
}

.btn__white {
	background-color: #fff;
}

.btn__black {
	background-color: rgba(16, 16, 16, 0.4);
}
